<style>
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial';
  }

  h1 {
    text-align: center;
  }

  .letters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px; /* Adds some space between the letters and the form */
  }

  .letter-box {
    font-family: 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2882bf;
    padding: 5px;
    width: 40px;
    height: 60px;
    box-sizing: border-box;
    background-color: #3498DB;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
  }

  form {
    text-align: center; /* Center the form content */
  }
</style>

<div class="game-container">
  <h1>New Game</h1>

  <div class="letters-container">
    <% @letters.each do |letter| %>
      <span class="letter-box"><%= letter %></span>
    <% end %>
  </div>

  <form action="TODO" method="TODO" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <p>What is the longest word you can find?</p>
    <input type="text" name="answer">
    <input type="submit" value="Play">
  </form>
</div>
